<div class="event-today" [matBadge]="numberOfTodaysEvent" matBadgePosition="above after">
    <p>you have {{numberOfTodaysEvent}} events today</p>
</div>
<div class="user-circle-activities">
    <div class="event-notifications">
        <p>8 of your lezgo circle are participating in event 1</p>
    </div>
    <div class="event-notifications">
        <p>3 of your lezgo circle are participating in event 2</p>
    </div>
    <div class="event-notifications">
        <p>2 of your lezgo circle are participating in event 3</p>
    </div>
</div> 