<div class="flex" *ngIf="showFeed">
    <app-header [image] = "image"></app-header>
    <mat-drawer-container class="event-base-container">
        <mat-drawer mode="side" opened class="drawer-content">
            <button mat-button class="create-event-btn" (click)="onCreateEvent()">Create Event</button>
        </mat-drawer>
        <mat-drawer-content class="main-content">
            <app-events-list [userGeneralInfo]="userGeneralInfo" ></app-events-list>
        </mat-drawer-content>
    </mat-drawer-container>
</div>