
.event-card {
    max-width: 450px;

    .event-header-image {
        background-image: url('https://i.imgur.com/1FXvmc4.jpg');
        background-size: cover;
    }
    .event-actions{
        display: flex;
        flex-direction: row;
        .spacer {
            flex: 1 1 auto;
        }
        .likes{
            display: flex;
            flex-direction: row;
        }
    }
    

    
}

