
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<router-outlet></router-outlet>
<!-- <app-user-profile></app-user-profile> -->
<!-- <div class="auth" *ngIf="!authenticated">
    <app-auth (authenticated)="userAuthenticated($event)"></app-auth>
</div> -->
<!-- <div class="flex-container" *ngIf="authenticated"> -->
<!-- <div class="flex-container">
    <mat-toolbar class="tool-bar"> 
        <img src="https://i.imgur.com/JvTsfdf.png" 
                    style="max-height:30px; max-width: 30px"> 
        <span style="font-family: 'Lobster', cursive;">LezGo</span>
        <span class="spacer"></span>
        <div mat-card-avatar class="photo-image"></div>
        <span class="spacer"></span>
        <mat-icon class="icon" aria-hidden="false" aria-label="Example user verified icon">keyboard_arrow_down</mat-icon>
    </mat-toolbar>
    <div class="container">
         <app-events-base [tokenvalue]="token"></app-events-base> 
    </div>
</div> -->