<div class="top-box" *ngIf="topEvent !== null">
    <div class="top-event" matBadge="4" style="margin-top: 50px;">
        <div class="owner-details">
            <div mat-card-avatar class="owner-image"></div>
            <span class="owner-name">{{topEvent.ownerUsername}}</span>
        </div>
        <div class="event-details">
            <p class="event-description">{{topEvent.shortDescription}}</p>
            <p class="event-address">{{topEvent.location}}</p>
        </div>
    </div>
</div>