<div class="close" 
     style="margin-top:-10px; text-align: end; margin-right: -19px; cursor: pointer;"
     (click)="onNoClick()">
    <i class="material-icons">
        close
    </i>
</div>
<p>Create New Event</p>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>General Information</ng-template>
            <div class="event-form">
                <div class="flex-container-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Organizer</mat-label>
                        <input matInput 
                               formControlName="ownerUsername"
                               placeholder="Organizer">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                    <span class="spacer"></span>
                    <mat-form-field appearance="outline" style="cursor: pointer; ">
                        <mat-label>Category</mat-label>
                        <mat-select>
                        <mat-option *ngFor="let category of categories" [value]="category.value">
                            {{category.viewValue}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>    
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Event Title</mat-label>
                    <input  matInput 
                            formControlName="title"       
                            placeholder="Event Title">
                    <mat-hint>Choose a descriptive title</mat-hint>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>General Description</mat-label>
                    <textarea id="event-general-description" 
                              formControlName="description" 
                              matInput appearance="outline" placeholder="General description of the event"></textarea>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Short Description</mat-label>
                    <textarea id="event-short-description" 
                              formControlName="shortDescription"        
                              matInput appearance="outline" placeholder="Short description of the event"></textarea>
                </mat-form-field>
                <div class="form-actions">
                    <button mat-button matStepperNext>Next</button>
                </div>
            </div>
        </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <div class="event-form">
                <!-- <AutocompleteComponent (setAddress)="getAddress($event)" adressType="address"></AutocompleteComponent> -->
                <div class="flex-container-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Location</mat-label>
                        <input  matInput 
                                placeholder="Budapest, Hungary" 
                                type="text" 
                                formControlName="location">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                    <span class="spacer"></span>
                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input  matInput 
                                placeholder="Budapest" 
                                type="text" 
                                formControlName="city">
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="flex-container-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Start Time</mat-label>
                        <input  matInput 
                                placeholder="18:00" 
                                type="text" 
                                formControlName="startTime">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                    <span class="spacer"></span>
                    <mat-form-field appearance="outline">
                        <mat-label>EndTime</mat-label>
                        <input  matInput 
                                placeholder="21:00" 
                                type="text" 
                                formControlName="endTime">
                    </mat-form-field>
                </div>
                <div class="flex-container-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Expected number</mat-label>
                        <input  matInput 
                                placeholder="Expected number" 
                                type="number" 
                                formControlName="expectedNumber">
                        <mat-hint>Max number of people</mat-hint>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                    <span class="spacer"></span>
                    <mat-form-field id="threshold-number" appearance="outline">
                        <mat-label>Threshold number</mat-label>
                        <input  matInput 
                                placeholder="Threshold number" 
                                type="number" 
                                formControlName="threshold">
                        <mat-hint>Threshold number of people</mat-hint>
                    </mat-form-field>
                </div>
                <div class="flex-container-row">
                    <label for="general-file-upload" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i> General Image 
                    </label>
                    <input  type="file" 
                            id="general-file-upload" 
                            name="image" 
                            (change)="fileProgress($event)" />    
                    <span class="spacer"></span>

                    <label for="cover-file-upload" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i> Cover Image 
                    </label>
                    <input type="file" 
                           id="cover-file-upload" 
                           name="image" 
                           (change)="fileProgress($event)" />    
                </div>
                <div class="form-actions">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext (click)="submit()">Submit</button>
                </div>
            </div>
        </form>
    </mat-step>
    <!-- <mat-step>
      <ng-template matStepLabel>Done</ng-template>
        <div class="done">
            <img src="https://i.imgur.com/JvTsfdf.png" 
            style="max-width: 10%; max-height:10%; margin-top: 5%;" alt="">
            <div>
              <label class="logo">LezGo</label>
            </div>
        </div>
    </mat-step> -->
</mat-horizontal-stepper>



